nav {
    background-color: whitesmoke;
    font-size: inherit;
}

.navbar-toggler {
    font-size: smaller;
}

navbar-brand {
    color: black;
}

navbar-brand:hover {
    color: saddlebrown;
}

.fas:hover {
    color: orange;
}

.nav-row {
    font-size: smaller;
    padding-inline: 0;
}

.nav-row:hover {
    color: orange;
}

body {
    background-color: #120d8b;
    color: ghostwhite;
    overflow: auto;
    padding-bottom: 60px;
    font-size: medium;
}

@media (max-width: 576px) {
    body {
        font-size: smaller;
        padding-bottom: 30px;
    }
}