{% extends 'base.html' %}

{% block content %}
    <div class="container content-section p-0 my-2" style="max-width: 500px; white-space: nowrap">
        <div class="text-center mb-3">
            <legend class="border-bottom mb-4">User Access View</legend>
        </div>

        {% if object_list %}
            {% for object in object_list %}
                <div class="list-group">
                    <a class="list-group-item list-group-item-action my-1" href="{% url 'admin-contacts-view' object.slug %}" style="background-color: wheat; min-height: 50px;">
                        <div class="row">
                            <div class="col text-center">
                                <span class="text-left">{{ object.email}}</span>
                                <span class="text-right">{{ object.slug}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="container text-center p-0">
                <h4>No users to display.</h4>
            </div>
        {% endif %}
        <div class="border-top text-center my-4 pt-3">
            <a class="btn btn-outline-info ml-2" type="submit" href="{% url 'admin-home' %}">Home</a>
        </div>
    </div>
{% endblock content %}