{% autoescape off %}
    <p>Hello {{ user.get_short_name | capfirst }},</p>

    <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>

    <p>
        Please click on the link below to choose a new password:<br>
        {{ protocol }}://{{ domain }}{% url 'password-reset-confirm' uidb64=uid token=token %}<br>
        Your login email ID, in case you’ve forgotten: <strong>{{ user.get_username }}</strong>
    </p>

    <p>
        Thanks, <br>
        Phonebook Manager
    </p>
{% endautoescape %}