{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
    <div class="container p-0" style="max-width: 500px;">
        <div class="text-center mb-3">
            <legend class="border-bottom mb-4">User Login</legend>
        </div>
        <div>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="text-center my-3 p-0">
                        <div class="col m-2 p-0">
                            <a class="btn btn-outline-success ml-2" href="{% provider_login_url "google" %}" type="button">
                                Login With Google
                            </a>
                        </div>
                    </div>
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-success ml-2" type="submit">Log In</button>
                    <a class="ml-2" href="{% url 'password-reset' %}">Forgot Password?</a>
                </div>

                <div class="border-top text-center my-3 pt-3">
                    Need an account?
                    <a class="ml-2" href="{% url 'users-register' %}">Sign Up Here</a>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}