{% autoescape off %}
    <p>
        Hi,
    </p>

    <p>
        A contact was deleted in your Phonebook. Details are below:
    </p>

    <p>
        <table cellspacing=”0” cellpadding=”0” align=”center” border=”1”>
            <tr>
                <th>First Name</th>
                <td>{{ first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ last_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ email }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ mobile }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ city }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ birthday }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ image }}</td>
            </tr>
            <tr>
                <th>Date Added</th>
                <td>{{ date_added }}</td>
            </tr>
            <tr>
                <th>Date Updated</th>
                <td>{{ date_updated }}</td>
            </tr>
            <tr>
                <th>Date Deleted</th>
                <td>{{ date_deleted }}</td>
            </tr>
        </table>
    </p>

    <p>
        Thanks, <br>
        Phonebook Manager
    </p>
{% endautoescape %}
