{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container content-section" style="width: 500px">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <legend class="border-bottom mb-4">Contact Update</legend>
                {{ form|crispy }}
            </div>
            <div class="border-top text-center pt-3">
                <button class="btn btn-outline-warning ml-2" type="submit">Update</button>
                <a class="btn btn-outline-info ml-2" href="{% url 'contacts-home' %}" type="button">Home</a>
            </div>
        </form>
    </div>
{% endblock content %}