{% extends 'base.html' %}

{% block content %}
    <div class="container content-section p-0 my-2" style="max-width: 500px;">
        {% if object_list %}
            {% for object in object_list %}
                <div class="list-group">
                    <a class="list-group-item list-group-item-action my-1" href="{% url 'contacts-view' object.id %}" style="background-color: wheat; min-height: 50px;">
                        <img src="{{ object.image.url }}" width="32" height="24" />
                        {{ object.first_name }} {{ object.last_name }}
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="container text-center">
                <h3>No contacts to display.</h3>
            </div>
            <div class="border-top text-center my-4 pt-3">
                <a class="btn btn-outline-success" type="submit" href="{% url 'contacts-add' %}">Add</a>
                <a class="btn btn-outline-info ml-2" type="submit" href="{% url 'contacts-home' %}">Home</a>
            </div>
        {% endif %}
    </div>
{% endblock content %}