{% extends 'base.html' %}

{% block content %}
    <div class="container content-section text-center p-0 my-2">
        <div class="list-group">
            <a href="{% url 'contacts-browse' %}" class="list-group-item list-group-item-action my-1" style="background-color: wheat; min-height: 50px;">
                Browse All Contacts
            </a>
        </div>
        <div class="list-group">
            <a href="{% url 'contacts-add' %}" class="list-group-item list-group-item-action my-1" style="background-color: wheat; min-height: 50px;">
                Add Contact
            </a>
        </div>
        <div class="list-group">
             <a href="#" class="list-group-item list-group-item-action my-1" style="background-color: wheat; min-height: 50px;">
                Update Contact
            </a>
        </div>
        <div class="list-group">
             <a href="#" class="list-group-item list-group-item-action my-1" style="background-color: wheat; min-height: 50px;">
                Delete Contact
            </a>
        </div>
        <div class="list-group">
             <a href="{% url 'contacts-about' %}" class="list-group-item list-group-item-action my-1" style="background-color: wheat; min-height: 50px;">
                About
            </a>
        </div>
    </div>
{% endblock content %}