{% autoescape off %}
    <p>
        Hi,
    </p>

    <p>
        A contact was deleted in your Phonebook. Details are below:
    </p>

    <p>
        First Name   : {{ first_name }} <br>
        Last Name    : {{ last_name }} <br>
        Email        : {{ email }} <br>
        Mobile       : {{ mobile }} <br>
        City         : {{ city }} <br>
        Date Added   : {{ date_added }} <br>
        Date Deleted : {{ date_deleted }} <br>
    </p>

    <p>
        Thanks,
        Phonebook Manager
    </p>
{% endautoescape %}